# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
obj

# mstest test results
TestResults
/KruskallRSTP.sln
/KruskallRSTP.suo
/KruskallRSTP/KruskallRSTP.csproj.user
/KruskallRSTP/KruskallRSTP.csproj
/KruskallRSTP.sln
/KruskallRSTP.suo
/KruskallRSTP/obj/Debug/KruskallRSTP.g.resources
/KruskallRSTP/bin/Debug/*.exe
/KruskallRSTP/bin/Debug/*.pdb
/KruskallRSTP/bin/Debug/*.exe
/KruskallRSTP/bin/Release
