# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/KruskallRSTP.sln
/KruskallRSTP.suo
/KruskallRSTP/KruskallRSTP.csproj.user
/KruskallRSTP/KruskallRSTP.csproj
